<!DOCTYPE html>
<html lang="en" 
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"	  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/xsd/thymeleaf-extras-springsecurity5"
      xmlns:dia="http://www.thymeleaf.org/xsd/thymeleaf-extras-dialect-2.1.xsd"
      layout:decorate="template2">
<head>
<meta charset="utf-8">
<title>Gestion des Gestionnaire</title>
</head>
<body style="background: #e2e2e2;">
	<div layout:fragment="pageContent">
		<div class="container mt-1">
		<div class="card">
			<div class="card-header">Liste des gestionnaires</div>
			<div class="card-body">
			<div class="ml-1">
				<div style="display: inline-block;">   
					<form th:action="@{/gestionnaires}" method="get">
						<div>
							<label for="keyword">Name</label>
							<input id="keyword" type="text" name="keyword" th:value="${keyword}"/>
							<button class="btn btn-success">Chercher</button>							
						</div>				
					</form>
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')" style="display: inline-block;">
					<a th:href="@{/gestionnaireForm}" class="btn btn-primary ml-2">Ajouter un gestionnaire</a>
				</div>	
			</div>
			<div style="overflow-x:auto;">
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Email</th>
						<th>Téléphone</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')"> 
						Date Naissance
						</th>	
						<th sec:authorize="hasRole('ROLE_ADMIN')" colspan="2" style="text-align: center;"> 
							Action
					   </th>							
					</tr>
				</thead>
				<tbody>
					<tr th:if="${gestionnaires.empty}">
            			<td colspan="7"> Pas de gestionnaire disponible </td>
        			</tr>				
					<tr th:each="gestionnaire : ${gestionnaires}" class="bg-light hover-zoom">
						<th th:text="${gestionnaire.id}"></th>
						<th th:text="${gestionnaire.firstname}"></th>
						<th th:text="${gestionnaire.lastname}"></th>
						<th th:text="${gestionnaire.email}"></th>
						<th th:text="${gestionnaire.phone}"></th>
						<th th:text="${gestionnaire.datenaissance}"
							sec:authorize="hasRole('ROLE_ADMIN')"> 
						</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">		
							<a onclick="return confirm('Etes vous sure de vouloir supprimer ?')" class="btn btn-danger" 
							   th:href="@{/deleteGestionnaire(id=${gestionnaire.id}, keyword=${keyword}, page=${currentPage}, size=${'5'})}">
							  Delete
							</a>
					   </th>
						<th sec:authorize="hasRole('ROLE_ADMIN')" >  	
							<a onclick="return confirm('Etes vous sure de vouloir mettre à jour ?')" class="btn btn-success" 
							  th:href="@{/editGestionnaire(id=${gestionnaire.id})}">
							  Edit
							</a>
					   </th>					   
					</tr>
				</tbody>
			</table>
			</div>
			<ul class="nav nav-pills">
			
 		<!--	
 				<li th:each="page, status  :${pages}">
					<a th:class="${status.index==currentPage?'btn btn-primary':'btn'}" 
					   th:href="@{gestionnaires(page=${status.index})}" th:text="${status.index}"></a>
				</li> 
		-->
				
				<!-- Pagination de la page -->
				
				<li th:each="page, status : ${pages}">
					<a th:class="${status.index==currentPage?'btn btn-primary':'btn'}" 
					   th:href="@{gestionnaires(page=${status.index}, keyword=${keyword}, size=${size})}" th:text="${status.index}"></a>
				</li>				
			
			</ul>
			</div>
		</div>
	 </div>	
	</div>
</body>
</html>