<!doctype html>
<html lang="en" 
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"	  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/xsd/thymeleaf-extras-springsecurity5"
      xmlns:dia="http://www.thymeleaf.org/xsd/thymeleaf-extras-dialect-2.1.xsd"
      layout:decorate="template2">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container mt-10" >
			<h3 class="text-danger" >Vous n'êtes pas autoriser à faire cette action</h3>
		</div>
	</div>
</body>
</html>